
.center-img{
	display: block;	
    margin-left: auto;
    margin-right: auto;      	
}

.container{	
	position: relative;
	margin-left: auto;
    margin-right: auto;
}

.spotlight{
	z-index: 100;
  	position: absolute;
  	left: 150px;
  	top: 86px;
	background-color: #EB6D4C;
	color: white;		
	height: 140px;
	width: 450px;		
	font-size: 250%;	
	text-transform: uppercase;	    
}


