@import "normalize";

@import 'base/variables';
@import 'base/global';

@import 'components/header';
@import 'components/nav';
@import 'components/aside';
@import 'components/footer';

@font-face{
    font-family: 'brandon';
    src:url('../fonts/brandon_reg-webfont.woff') format('woff');
}

@font-face{
    font-family: 'icons';
    src:url('../fonts/icomoon.woff') format('woff');
}

@font-face{    
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{ 
    width: 1000px;
    margin: 0 auto;
}

.spotlight{
    background:url(../images/banner.jpg) no-repeat center;
    height:400px;
    margin: 0 auto;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    
}
.spotlight .container {
    position: relative;
    
}
.spotlight .container div{
    
    position:absolute;
    left:0;
    top:127px;
    width:470px;
}

.spotlight h2{
    display:none;
}

.spotlight p{
    
    background:rgba(235,108,76,0.8);
    color:#fff;    
    margin:0;
    padding: 10px 20px;    
    font-size:42px;
    line-height:70px;
    text-transform:uppercase;    
}

.services{
    font-family: 'Open Sans Condensed';
    margin: 0;
    padding: 0;
    background-color: #ebebe8;    
}

.services h2{
    display: none;
}

.services .container article{    
    display: inline-block;    
    width: 33%;    
}

.services .container article h3{
    color: #2a2e39;
    text-align: center;    
    text-transform:uppercase;
    font-size:42px;   
    font-weight: 300; 
    margin: 10px;        
}

.services .container article p{
    text-align: center;    
    font-size: 17px;   
    line-height: 150%;
}

.services .container article p a{
    text-transform: uppercase;     
    font-weight: bold;    
    font-size: 18px;  
    color: #eb6d4c;
}

.clients{
    
    background:#A09C9B;
    height:200px;
    padding: 0px;
    margin-top: -25px;
    
}
.clients h2{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:30px;
    padding-top:20px;
    text-align:left;
    text-transform:uppercase;    
}

.clients ul{    
    margin:0;
}

.clients ul li{    
    display:inline;
    float:left;
    list-style-type:none;
    margin-left:50px;
}

.icon-facebook:before {
    content: "\ea90";      
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-pinterest:before {
    content: "\e900";       
}

.icon-youtube:before {
    content: "\e901";
}
.icon-rss:before {
    content: "\ea9b";
}

.portafolio{
    overflow:hidden;
}

.portafolio *{
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed';
    
}

.portafolio h2{    
    display:none;
}

.portafolio ul li{
  float:left;
  list-style-type: none;
  width:20%;
}

.portafolio ul li article {    
    position:relative;
}

.portafolio ul li article div{
    background:#eb6d4c;
    bottom:0;
    display:none;
    left:0;
    position:absolute;
    top:0;
}

.portafolio ul li article img{
    height:100%;
    max-height:100%;
    max-width:100%;
    vertical-align:middle;
    width:100%;    
}

.portafolio ul li:hover article div{
    display: block;
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    background: #EB6D4C;
}

.portafolio ul li:hover article div h3{
    color: white;
    text-transform: uppercase;
    padding: 30px 20px;
}

.portafolio ul li:hover article div p{
    padding-left: 20px;
    padding-right: 20px;
}

.portafolio ul li:hover article div p a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
}