footer{
    background-color: #2a2e39 ;    
    height: 114px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;        
}

footer  ul{
    margin: 0;
    padding: 0;
}

footer ul li {
    font-family: 'brandon';
    border-right: solid 1px #FFF;
    display: inline;
    float: left;   
    list-style-type: none;
    padding: 0px 17px; 
    margin-top: 30px;
    
}

footer ul li:last-child{
    border-right: none;
}

footer li a{
   // font-family: 'brandon';    
    color: #EB6D4C;
    text-decoration: none;    
}

.icons{
    font-family: 'icons';
    color: red;
    padding-top: 30px;    
}

footer li:last-child{
    border-right: none;
}

footer li a:hover {    
    text-decoration: underline;
}

footer p{
    padding-left:17px;
    color: #b6b6b6;
}

footer .container .left{
    display: inline;
    float: left;    
}

footer .container .right{
    display: inline;
    float: right;    
}

footer .container .icons a{
    text-decoration: none;
}

footer .container .icons a span{    
    color: #292e39;
    background: #b6b6b6;
    padding: 8px;
    width:100px; /** fix width ***/
    text-align: center; 
    font-size: 17px;
    display: inline;
    border-radius: 50%;
    line-height: 50px;  /** for vertical center - if needed **/
}

footer .container .icons a:hover span{        
    background: #eb6d4c;    
}