header {
    background-color: #2a2e39 ;    
    height: 114px;
}

header .container .left{
    display: inline;
    float: left;
    padding-top: 30px;
}

header .container .right{
    display: inline;
    float: right;
    padding-top: 30px;
}
