header {
    background-color: #2a2e39 ;    
    height: 114px;
    margin-top: 0 !important;      
    padding-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}