nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;        
}

header .container ul{
    margin: 0;
    padding: 0;
}

header .container ul li {
    border-right: solid 1px #78839f;
    display: inline;
    float: left;   
    list-style-type: none;
    padding: 5px 17px; 
    
}

header .container ul li:last-child{
    border-right: none;
}

header .container li a{
    color: #FFF;
    //font-family: 'brandon';
    font-family: 'brandon';
    text-decoration: none;
    text-transform: uppercase; 
}

nav li:last-child{
    border-right: none;
}

nav li a:hover {
    color: #EB6D4C;
}